{
	"globals": { "angular": false, "module": false, "inject": false, "document": false },
	"env": { es6: true, browser: true, amd: true, node: true },
	"extends": [
		"eslint:recommended"
	],
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module"
	},
	"rules": {}
}
